.players-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.player-card {
  text-align: center;
  width: 80px;
}

.player-head {
  width: 64px;
  height: 64px;
  image-rendering: pixelated; /* macht es wie in Minecraft */
}

.player-name {
  margin-top: 5px;
  font-size: 0.9rem;
  word-break: break-word;
}

body {
  color: black;        /* Standard */
}

body.night-mode {
  color: white;        /* Nur wenn die Klasse gesetzt ist */
}

body {
    transition: opacity 5s ease-in-out; /* Übergangseffekt */
    opacity: 1; /* Anfangs opak */
    background-size: cover;
    background-position: center; 
}

body.fade-out {
    opacity: 0;
}

body.fade-in {
    opacity: 1;
}
